@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: left;
  padding: 3%, 5%;
  font-family: "Outfit", sans-serif;
}

header {
  margin: 5%;
  padding-right: 14%;
  padding-left: 20%;
}

#Logo {
  width: 10rem;
  margin-bottom: 7%;
}

.timer {
  height: 110px;
  width: 110px;
  border: 7px solid #00ffff;
  border-radius: 50%;
  margin-left: 58%;
  color: #e7e7eb;
  text-align: center;
  padding: 1%;
  text-transform: uppercase;
  font-size: 0.5rem;
  margin-bottom: 0%;
  display: inline-block;
}

.spanTimer {
  font-size: 3.5rem;
  padding: 1%;
}

main {
  margin: 5em 10em;
  text-align: center;
}
h1 {
  color: #e7e7eb;
  font-size: 3rem;
  margin-bottom: 4%;
}
.titleBoldText {
  font-weight: bold;
}

#formAnswer {
  align-items: center;
}

.answerButton {
  border: 1px solid #e7e7eb;
  box-shadow: 0px 0px 0px 0px #e7e7eb;
  border-radius: 50px;
  background-color: transparent;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #e7e7eb;
  width: 20rem;
  height: 4rem;
  margin: 1%;
}
#selectedButton {
  background-color: #b7008a;
  border: 1px solid #e7e7eb;
  box-shadow: 0px 0px 0px 0px #e7e7eb;
  border-radius: 50px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #e7e7eb;
  width: 20rem;
  height: 4rem;
  margin: 1%;
}
.footerParagraph {
  font-size: 1rem;
  font-weight: 700;
  color: #e7e7eb;
  margin-bottom: 4%;
  line-height: normal;
  text-align: center;
}
footer p span {
  font-size: 1rem;
  font-weight: 700;
  color: #b7008a;
  margin-bottom: 4%;
  line-height: normal;
  text-align: center;
}
