@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: left;
  padding: 3%, 5%;
  font-family: "Outfit", sans-serif;
}

header {
  margin: 5%;
}

#Logo {
  width: 10rem;
}

.timer {
  height: 110px;
  width: 110px;
  border: 7px solid #00ffff;
  border-radius: 50%;
  margin-left: 80%;
  color: #e7e7eb;
  text-align: center;
  padding: 1%;
}

.spanTimer {
  font-size: 2.5rem;
  padding: 1%;
}

main {
  margin: 5em 10em;
  text-align: center;
}
h1 {
  color: #e7e7eb;
  font-size: 4rem;
  margin-bottom: 2%;
}
.titleBoldText {
  font-weight: bold;
}

#formAnswer {
  align-items: center;
}

.answerButton {
  border: 1px solid #e7e7eb;
  box-shadow: 0px 0px 0px 0px #e7e7eb;
  border-radius: 50px;
  background: linear-gradient(to right, #2b2956, #312a5a, #3d2a67, #5a2076);
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #e7e7eb;
  width: 18rem;
  height: 4rem;
  margin: 1%;
}
#selectedButton {
  background-color: #b7008a;
  border: 1px solid #e7e7eb;
  box-shadow: 0px 0px 0px 0px #e7e7eb;
  border-radius: 50px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #e7e7eb;
  width: 18rem;
  height: 4rem;
  margin: 1%;
}
.answerButton4 {
  border: 1px solid #e7e7eb;
  box-shadow: 0px 0px 0px 0px #e7e7eb;
  border-radius: 50px;
  background: linear-gradient(to right, #5a317a, #69367e, #5a2076);
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #e7e7eb;
  width: 18rem;
  height: 4rem;
  margin: 1%;
}
.footerParagraph {
  font-size: 1rem;
  font-weight: 700;
  color: #e7e7eb;
  margin-bottom: 4%;
  line-height: normal;
  text-align: center;
}
footer p span {
  font-size: 1rem;
  font-weight: 700;
  color: #b7008a;
  margin-bottom: 4%;
  line-height: normal;
  text-align: center;
}
