/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
} */

/* #feedbackBody {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: left;
  padding: 3% 28%;
} */

/* #feedbackLogo {
  width: 10rem;
  cursor: pointer;
} */

/* #feedbackMain {
  margin: 10em 5em;
  text-align: center;
} */

/* h1 {
  font-weight: bold;
  font-size: 5em;
  color: #e7e7eb;
  margin-bottom: 2%;
  font-family: "Outfit", sans-serif;
} */

/* #feedbackParagraph {
  color: #e7e7eb;
  font-weight: 300;
  font-size: 2em;
  font-family: "Outfit", sans-serif;
  margin-bottom: 4%;
  line-height: normal;
} */

/* #starCont {
  margin-bottom: 10%;
}

.star {
  margin-inline: 1%;
  cursor: pointer;
}

#feedbackInputText {
  background: none;
  border: none;
  border-bottom: 2px solid #c2128d;
  width: 90%;
  margin-top: 1%;
  padding-left: 2%;
  height: 3em;
  color: white;
  font-size: 1.2em;
  size: auto;
  outline: none;
}

#buttonMoreInfo {
  background-color: #00ffff;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #0b113b;
  width: 14rem;
  height: 4rem;
  border: none;
  box-shadow: 0px 0px 20px 2px #00ffff;
  margin-top: 3em;
  cursor: pointer;
} */
