@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: left;
  padding: 3% 5%;
  font-family: "Outfit", sans-serif;
}
.welcomeBigContainer {
  padding-left: 20%;
}
#welcomeHeader {
  margin: 5%;
  padding-right: 0;
  padding-left: 0;
}
header {
  margin: 5%;
  padding-right: 14%;
  padding-left: 20%;
}

#timerContainer {
  display: inline-block;
  margin-left: 45%;
  border-radius: 50%;
  width: 8em;
  height: 8em;
}

#Logo {
  width: 10rem;
  margin-bottom: 7%;
  cursor: pointer;
}

#benchmarkLogo {
  width: 10rem;
  margin-bottom: 7%;
  cursor: pointer;
  margin-left: 12%;
}

#welcomeMain {
  margin: 5%;
  text-align: left;
}

.welcomeH1 {
  color: #e7e7eb;
  font-size: 4rem;
  margin-bottom: 4%;
  line-height: 75%;
}

.timer {
  height: 110px;
  width: 110px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-left: 7.6%;
  margin-top: 7%;
  color: #e7e7eb;
  text-align: center;
  padding-top: 12%;
  text-transform: uppercase;
  font-size: 0.5rem;
  margin-bottom: 0%;
  display: inline-block;
  background-color: #3e1757;
}

.spanTimer {
  font-size: 3.5rem;
  padding: 1%;
}

main {
  margin: 5em 10em;
  text-align: center;
}

.normal {
  display: block;
  color: #e7e7eb;
  margin-top: 0;
}

.title {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 4%;
}
.titleBoldText {
  font-weight: bold;
}

#formAnswer {
  align-items: center;
}

#answerButton {
  border: 1px solid #e7e7eb;
  box-shadow: 0px 0px 0px 0px #e7e7eb;
  border-radius: 50px;
  background-color: transparent;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #e7e7eb;
  width: 20rem;
  height: 4rem;
  margin: 1%;
}
#selectedButton {
  background-color: #b7008a;
  border: 1px solid #e7e7eb;
  box-shadow: 0px 0px 0px 0px #e7e7eb;
  border-radius: 50px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1em;
  width: 20rem;
  height: 4rem;
  margin: 1%;
  color: #e7e7eb;
}
#selectedButtonCorrect {
  background-color: #b7008a;
  border: 3px solid #27c70a;
  box-shadow: 0px 0px 0px 0px #e7e7eb;
  border-radius: 50px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1em;
  width: 20rem;
  height: 4rem;
  margin: 1%;
  color: #e7e7eb;
}
#selectedButtonIncorrect {
  background-color: #b7008a;
  border: 3px solid #d70a0a;
  box-shadow: 0px 0px 0px 0px #e7e7eb;
  border-radius: 50px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1em;
  width: 20rem;
  height: 4rem;
  margin: 1%;
  color: #e7e7eb;
}
#correctButton {
  border: 3px solid #27c70a;
  box-shadow: 0px 0px 0px 0px #e7e7eb;
  border-radius: 50px;
  background-color: transparent;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #e7e7eb;
  width: 20rem;
  height: 4rem;
  margin: 1%;
}

#incorrectButton {
  border: 3px solid #d70a14;
  box-shadow: 0px 0px 0px 0px #e7e7eb;
  border-radius: 50px;
  background-color: transparent;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #e7e7eb;
  width: 20rem;
  height: 4rem;
  margin: 1%;
}

.footerParagraph {
  font-size: 1rem;
  font-weight: 700;
  color: #e7e7eb;
  margin-block: 2%;
  line-height: normal;
  text-align: center;
}
footer p span {
  font-size: 1rem;
  font-weight: 700;
  color: #b7008a;
  margin-bottom: 4%;
  line-height: normal;
  text-align: center;
}

#logoContainer {
  margin-left: 25%;
}

.logo {
  width: 10rem;
  cursor: pointer;
}

h1 {
  font-weight: bold;
  color: #e7e7eb;
  font-size: 5em;
  margin-bottom: 0.3%;
}

h2 {
  font-weight: 300;
  color: #e7e7eb;
  font-size: 2em;
  line-height: normal;
}

main > div {
  display: inline-block;
  color: #e7e7eb;
  margin-top: 4em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 3.5em;
  font-weight: bold;
}

h5 {
  font-size: 1.2em;
  font-weight: 300;
  color: #a4a6b6;
}

main > div:nth-child(3) {
  text-align: left;
}

main > div:nth-child(4) {
  width: 28em;
  height: 28em;
  margin-inline: 5%;
  border-radius: 50%;
  padding: 2% 2%;
}

#chart {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  margin-left: 7.8%;
  margin-top: 7%;
  background-image: url(./assets/bg.jpg);
  background-size: 1250px;
  background-position: 749px;
}

main > div > div > p:first-child {
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-top: 25%;
  line-height: 1.2em;
}

main > div > div > p > span {
  color: #00ffff;
  font-size: 1.1em;
}

main > div > div > p:nth-child(2) {
  color: #a4a6b6;
  font-size: 1em;
  line-height: 1.2em;
}

main > div:nth-child(5) {
  text-align: right;
}

footer {
  margin-top: 4em;
  text-align: center;
}

#rateUs {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  background: linear-gradient(to bottom right, #281058, #421666);
  width: 14rem;
  height: 4rem;
  border: 2px solid white;
  box-shadow: 0px 0px 20px 4px #372f7f;
  cursor: pointer;
}

/* questo bottone è quello della pagina welcome */
#ProceedButton {
  cursor: pointer;
  margin-left: 16%;
  background-color: #00ffff;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #0b113b;
  width: 13rem;
  height: 3rem;
  border: none;
  box-shadow: 0px 0px 20px 2px #00ffff;
  margin-top: 3em;
}
/* Stile relativo alla checkbox della pagina welcome */

.containerLabel {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #0b113b;
  border: 2.5px solid #e7e7eb;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerLabel input:checked ~ .checkmark:after {
  display: block;
}

.containerLabel .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Stili relativi al main della pagina welcome */
.purpleText {
  font-size: 2rem;
  font-weight: bold;
  color: #c2128d;
  margin-bottom: 1%;
}
.paragraph {
  font-size: 1rem;
  color: #e7e7eb;
  margin-bottom: 4%;
  font-weight: 300;
  line-height: normal;
}
ul {
  font-size: 1rem;
  color: #e7e7eb;
  margin-bottom: 2%;
  padding-left: 2.5%;
  font-weight: 300;
}
li {
  margin-right: 2%;
  padding-bottom: 1%;
}
#containerChekbox {
  font-size: 1rem;
  color: #e7e7eb;
  margin-bottom: 2%;
  text-align: left;
  display: inline;
}
li strong {
  font-weight: bold;
}

/* Stili relativi alla pagina feedback */
#feedbackBody {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: left;
  padding: 3% 28%;
}

#feedbackHeader {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

#feedbackParagraph {
  color: #e7e7eb;
  font-weight: 300;
  font-size: 2em;
  font-family: "Outfit", sans-serif;
  margin-bottom: 4%;
  line-height: normal;
}
#starCont {
  margin-bottom: 10%;
  text-align: center;
  display: block;
}

.star {
  margin-inline: 1%;
  cursor: pointer;
}

#feedbackInputText {
  background: none;
  border: none;
  border-bottom: 2px solid #c2128d;
  width: 90%;
  margin-top: 1%;
  padding-left: 2%;
  height: 3em;
  color: white;
  font-size: 1.2em;
  size: auto;
  outline: none;
}

#buttonMoreInfo {
  background-color: #00ffff;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #0b113b;
  width: 14rem;
  height: 4rem;
  border: none;
  box-shadow: 0px 0px 20px 2px #00ffff;
  margin-top: 3em;
  cursor: pointer;
}
#feedbackMain {
  margin: 10em 5em;
  text-align: center;
}

#feedbackLogo {
  width: 10rem;
  cursor: pointer;
}
