@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: left;
  padding: 3% 30%;
}

#logo {
  width: 10rem;
}

main {
  margin: 10em 0;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 5em;
  color: #e7e7eb;
  margin-bottom: 0.3%;
  font-family: "Outfit", sans-serif;
}

h2 {
  color: #e7e7eb;
  font-weight: 300;
  font-size: 2em;
  font-family: "Outfit", sans-serif;
  line-height: normal;
}

main > div {
  display: inline-block;
  color: white;
  margin-top: 4em;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-size: 3em;
}

h4 {
  font-family: "Outfit", sans-serif;
  font-size: 3.5em;
  font-weight: bold;
}

h5 {
  font-family: "Outfit", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #a4a6b6;
}

main > div:nth-child(3) {
  font-family: "Outfit", sans-serif;
  text-align: left;
}

main > div:nth-child(4) {
  width: 28em;
  height: 28em;
  margin-inline: 8%;
  border-radius: 50%;
  padding: 2.5% 2%;
  background: conic-gradient(#c2128d 120deg, #00ffff 120deg);
}

#chart {
  font-family: "Outfit", sans-serif;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  margin-left: 10.7%;
  margin-top: 9.7%;
  background-image: url(./assets/bg.jpg);
  background-size: 1250px;
  background-position: 749px;
}

main > div > div > p:first-child {
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-top: 25%;
  line-height: 1.2em;
}

main > div > div > p > span {
  color: #00ffff;
  font-size: 1.1em;
}

main > div > div > p:nth-child(2) {
  color: #a4a6b6;
  font-size: 1em;
  line-height: 1.2em;
}

main > div:nth-child(5) {
  text-align: right;
}

footer {
  margin-top: 4em;
  font-family: "Outfit", sans-serif;
}

button {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  background: linear-gradient(to bottom right, #281058, #421666);
  width: 14rem;
  height: 4rem;
  border: 2px solid white;
  box-shadow: 0px 0px 20px 4px #372f7f;
}
