/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: left;
  padding: 3%, 5%;
  font-family: "Outfit", sans-serif;
} */

/* .welcomeBigContainer {
  padding-left: 20%;
} */
/* #welcomeHeader {
  margin: 5%;
  padding-right: 0;
  padding-left: 0;
} */

/* #Logo {
  width: 10rem;
  cursor: pointer;
} */

/* main {
  margin: 5%;
} */

/* .welcomeH1 {
  color: #e7e7eb;
  font-size: 4rem;
  margin-bottom: 4%;
  line-height: 75%;
} */
/* .titleBoldText {
  font-weight: bold;
} */
/* .purpleText {
  font-size: 2rem;
  font-weight: bold;
  color: #c2128d;
  margin-bottom: 1%;
}
.paragraph {
  font-size: 1rem;
  color: #e7e7eb;
  margin-bottom: 4%;
  font-weight: 300;
  line-height: normal;
}
ul {
  font-size: 1rem;
  color: #e7e7eb;
  margin-bottom: 2%;
  padding-left: 2.5%;
  font-weight: 300;
}
li {
  margin-right: 2%;
  padding-bottom: 1%;
}
.containerChekbox {
  font-size: 1rem;
  color: #e7e7eb;
  margin-bottom: 2%;
}
li strong {
  font-weight: bold;
} */

/* input[type="checkbox"] {
  width: 15px;
  height: 15px;
  text-align: center;
  cursor: pointer;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
}

input[type="checkbox"]::after {
  background: #0b113b;
  border: 2px solid #e7e7eb;
  font-size: 10px;
  content: "✓";
  color: white;
} */

/* #ProceedButton {
  cursor: pointer;
  margin-left: 16%;
  background-color: #00ffff;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #0b113b;
  width: 13rem;
  height: 3rem;
  border: none;
  box-shadow: 0px 0px 20px 2px #00ffff;
  margin-top: 3em;
} */

/* Customize the label (the container)
.containerLabel {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Hide the browser's default checkbox 
.containerLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}*/

/* Create a custom checkbox 
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #0b113b;
  border: 2.5px solid #e7e7eb;
}*/

/* Create the checkmark/indicator (hidden when not checked)
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}*/

/* Show the checkmark when checked 
.containerLabel input:checked ~ .checkmark:after {
  display: block;
}*/

/* Style the checkmark/indicator 
.containerLabel .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}*/
